body {
  color: blue;
  text-align: center;
}

h1 {
  color: aqua;
  font-size: 10rem;
}

h2 {
  color: red;
  font-size: 5rem;
}

p {
  font-family: 'Times New Roman';
  color: chocolate;
  font-size: 5rem;
}
